<h1><%= @survey.title %></h1>
<h3><%= @survey.description %></h3>

<%= render 'links' %>

<% @survey.questions.each do |question| %>

  <h5>Question: <%= get_question_object(question).question_text %></h5>

    <% if get_question_object(question).class.name == 'McQuestion' %>
      Type: Multiple Choice <br>

      <%= render 'mc_options', question: question %>
      <%= link_to 'Edit Question', edit_mc_question_path(get_question_object(question).id) %>
      <br>
      <%= link_to 'Delete Question',
          { action: 'destroy', controller: 'mc_questions', id: get_question_object(question).id },
            method: :delete,
              data: { confirm: 'Are you sure?' } %>
      <br>


    <% else %>
      Type: Range <br>

      <%= render 'range_options', question: question %>
       <%= link_to 'Edit Question', edit_range_question_path(get_question_object(question).id) %><br>
        <%= link_to 'Delete Question',
          { action: 'destroy', controller: 'range_questions', id: get_question_object(question).id },
            method: :delete,
              data: { confirm: 'Are you sure?' } %>
    <% end %>


  <hr>
<% end %>


