<%= form_for [:survey, @mc_question] do |f| %>
  <div>
    <%= f.label :question_text, "What question would you like to ask?" %>
    <%= f.text_field :question_text %>
  </div>
  <div>
    <%= f.label :num_options, "How many answer options will this question have?" %>
    <%= f.number_field :num_options %>
  </div>

  <div>
    <%= f.label :required, "Should this question be required?" %>
    <%= f.radio_button :required, true %> Yes
    <%= f.radio_button :required, false %> No

  </div>

  <%= f.submit "Create Question" %>
<% end %>

